@font-face {
  font-family: 'Reckless Neue';
  src: local('Reckless Neue Thin'), local('RecklessNeue-Thin'),
      url('/fonts/RecklessNeue-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
/* @font-face {
  font-family: 'Reckless Neue';
  src: local('Reckless Neue Thin Italic'), local('RecklessNeue-ThinItalic'),
      url('/fonts/RecklessNeue-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
} */

@font-face {
  font-family: 'Matter';
  src: local('Matter SemiBold'), local('Matter-SemiBold'),
      url('/fonts/Matter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src: local('Matter Light'), local('Matter-Light'),
      url('/fonts/Matter-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
