---
import Layout from "@/layouts/Layout.astro";
import Bio from "@/components/Bio.astro";
import ProjectList from "@/components/ProjectList.astro";
import Contact from "@/components/Contact.astro";
---

<Layout>
  <main class="flex flex-col gap-20">
    <Bio />
    <ProjectList
      category="projects"
      title="Featured Projects"
      featured={true}
    />
    <ProjectList category="projects" title="Projects" />
    <ProjectList category="press" title="Press / Media" />
    <Contact />
  </main>
</Layout>
