---
import { profile } from "@/data/config";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import SocialLinks from "./SocialLinks.astro";
import { Image } from "astro:assets";
---

<article
  class="flex flex-col items-center gap-8 md:flex-row-reverse md:justify-end md:gap-12"
>
  {
    profile.image && (
      <Image
        src={profile.image}
        class="w-1/4 self-center rounded-full"
        alt="Justin Metros Profile"
        width="200"
        height="200"
      />
    )
  }
  <div class="flex flex-col gap-6">
    <h1 class="font-display text-4xl font-thin text-primary-12">
      {profile.title}
    </h1>

    <h2
      class="trac w-auto max-w-[60ch] font-base text-xl font-light text-neutral-11"
      set:html={convertAsteriskToStrongTag(profile.description)}
    />

    <SocialLinks />
  </div>
</article>
